div>
  <input type="text" value={{MesaBlock.BlockName}}>
    <!-- attempt at making a search box for sName, not what we are looking for -->
    <form name="searchBlock" ng-submit="search(blockname)">
        <input type="search" required="" placeholder="Blockname to find" ng-model="blockname">
        <br>
        <input type="submit" value="Search" />
        <br>
    </form>
    <hr>
    <!-- the angular filter example, however block.sName and dFlow did not populate with ng-repeat -->
    <div ng repeat="block in blocks" ng-init="blockarrays = [{name:'{{block.sName}}', flow:'{{block.dFlow}}'}]"></div>
    <label>Search:
        <input ng-model="searchText">
    </label>
    <table id="searchTextResults">
        <tr>
            <th>Name</th>
            <th>flow</th>
        </tr>
        <tr ng-repeat="blockarray in blockarrays | filter:searchText">
            <td>{{blockarray.name}}</td>
            <td>{{blockarray.flow}}</td>
        </tr>
    </table>
    <hr> 
    <!-- drop down menu to select blocks, however i dont know how to call the rest of the data -->
    Select a block to view:
    <select ng-model="selectedBlock" ng-change="NavigateTo()">
        <option ng-repeat="block in blocks">{{block.sName}}</option>
    </select>
</div>