.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 10px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}


/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
} 

.small-box {
  border: 1px solid #c0c0c0;
}

svg .state {
    stroke-width: 2;
    stroke: #fff;

    -webkit-transition: stroke 0.5s, stroke-width 0.5s;
    -o-transition: stroke 0.5s, stroke-width 0.5s;
    transition: stroke 0.5s, stroke-width 0.5s;
}
svg .state:hover , .state.active {
    cursor: pointer;
    stroke-width: 4;
    stroke: #000;
}


	.st1 {fill:none}
	  /* Line color style */
			.st18 {marker-end:url(#mrkr4-165);stroke:red;stroke-linecap:round;stroke-linejoin:round;stroke-width:2}
			.st35 {fill:#dfdfdf;stroke:#0000ff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2.16}
	.st35a {fill:#dfdfdf;stroke:green;stroke-linecap:round;stroke-linejoin:round;stroke-width:2.16}
	
			

			.st41 {stroke:#0000ff;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.72}
			.st19 {fill:#0000ff;fill-opacity:1;stroke:#0000ff;stroke-opacity:1;stroke-width:0.44247787610619}
			.st35 {fill:#dfdfdf;stroke:#0000ff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2.16}
			.st41 {stroke:#0000ff;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.72}
			
			.st2 {stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.72;visibility:hidden}
			.st3 {fill:#000000;font-family:Arial;font-size:1.16666em;font-weight:bold}
			.st4 {fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.72}
			.st5 {fill:#000000;font-family:Arial;font-size:1.00001em;font-weight:bold}
			.st6 {fill:#ffffff;visibility:hidden}
			.st7 {stroke:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.72}
			.st8 {fill:#000000;font-family:Arial;font-size:0.666664em}
			.st9 {fill:#000000;font-family:Arial;font-size:0.833199em}
			.st10 {fill:#000000;font-family:Arial;font-size:0.684334em}
			.st11 {fill:#000000;font-family:Arial;font-size:0.733315em}
			.st12 {fill:#000000;font-family:Arial;font-size:0.728439em}
			.st13 {fill:#000000;font-family:Arial;font-size:0.701157em}
			.st14 {fill:#000000;font-family:Arial;font-size:0.67305em}
			.st15 {fill:#000000;font-family:Arial;font-size:0.72068em}
			.st16 {fill:#000000;font-family:Arial;font-size:0.793007em}
			.st17 {fill:#000000;font-family:Arial;font-size:0.722923em}
			.st20 {marker-end:url(#mrkr7-381);stroke:#000000;stroke-dasharray:1.68,1.2;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.24}
			.st21 {fill:#000000;fill-opacity:1;stroke:#000000;stroke-opacity:1;stroke-width:0.08695652173913}
			.st22 {fill:#fefee9;stroke:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.24}
			.st23 {fill:#000000;font-family:Arial;font-size:0.833336em}
			.st24 {fill:#000000;font-family:Arial;font-size:0.692963em}
			.st25 {fill:#dfdfdf;stroke:#008000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2.16}
			.st26 {fill:#dfdfdf}
			.st27 {stroke:#008000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2.16}
			.st28 {fill:#000000;font-family:Arial;font-size:1.88839em;font-weight:bold}
			.st29 {stroke:#008000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.72}
			.st30 {stroke:#26d9d5;stroke-linecap:round;stroke-linejoin:round;stroke-width:2.16}
			.st31 {fill:none;stroke:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.72}
			.st32 {fill:#cadaa9;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.72}
			.st33 {marker-end:url(#mrkr5-562);stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.72}
			.st34 {fill:#000000;fill-opacity:1;stroke:#000000;stroke-opacity:1;stroke-width:0.33333333333333}
			.st36 {fill:#000000;font-family:Arial;font-size:1.5024em;font-weight:bold}
			.st37 {stroke:#ff0000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.72}
			.st38 {stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.72}
			.st39 {fill:#cdcdcd}
			.st40 {fill:#c0c0c0}
			.st42 {fill:#dfdfdf;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.7}
			.st43 {fill:#000000;font-family:Arial;font-size:1.00928em}
			.st44 {fill:#dfdfdf;stroke:#008000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2.2}
			.st45 {fill:#000000;font-family:Arial;font-size:1.00928em;font-style:italic;font-weight:bold}
			.st46 {fill:none;fill-rule:evenodd;font-size:12px;overflow:visible;stroke-linecap:square;stroke-miterlimit:3}